main.fill-screen {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main.fill-screen .page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

/* Páginas de conteúdo */
.page-content.content {
    max-width: 1000px;
    margin: 3rem auto 1rem;
    /* padding: 0 2rem; */
}

.pages-section .contato-cards {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    gap: 1rem;
}

.contato-cards .contato-card-aulas-online {
    display: flex;
    gap: .5rem;
}

.page-content .social-icons {
    gap: 1rem;
}

.page-content .social-icons p {
    margin-bottom: 0;
}

.page-content p {
    margin-bottom: 1.5rem;
    line-height: 1.8;
}

/* ---- conteúdo alinhado à largura do carrossel ---- */
.content {
    /* largura base do carrossel em desktop */
    max-width: 830px;
    margin: 3rem auto 1rem;
    padding: 0 1rem;
    text-align: center;
    box-sizing: border-box; /* garante que padding não aumente a largura total */
}

.pages-section {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
}

.content h1 {
    margin-bottom: 0rem;
    font-size: 2rem;
}

.content p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.content li {
    margin-bottom: 0.5rem;
    text-align: left;   
}


 
 